<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Understanding Routes</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

        <img src="{{ url_for('static', filename='img.jpg') }}">

    </head>
    <body>
        <h1>Understanding Routes</h1>
        <p>Phrase: {{ phrase }}</p>
        <p>Times: {{ times }}</p>
        {% for x in range(0,times): %}
        <p>{{phrase}}</p>
        {% endfor %} {% if phrase == "hello" %}
        <p>phrase was hello</p>
        {% endif %}
    </body>
</html>
